body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

.header a {
    text-decoration: none;
    color: white;
}

.header-links {
    list-style-type: none;
    display: flex;
}

.header-link {
    padding: 5px 10px 5px 10px;
}

.main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.profile-wrap img {
    width: 235px;
}

.frame {
    background-color: black;
    border-color: white;
    border-style: solid;
    padding: 15px 15px 10px 15px;
}

.about-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greeting {
    font-size: 25px;
    font-weight: 300;
    margin: 15px 0px 5px 0px;
}

.about-text {
    margin: 5px 0 10px 0;
    font-style: italic;
    font-size: 18px;
    color: #d0d0d0;
}

.socials-wrap {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 10px;
}

.socials-wrap img {
    width: 40px;
    height: 45px;
}
